<%= render "/commons/error_messages" %>
<div class="full_w">
	<div class="h_title">Dataset Details</div>
	<h2><%= @dataset.title.titleize %></h2>
	<p><%= @dataset.description || "No description available for this dataset" %></p>
	<p> <b>Keywords : </b><%= @dataset.keywords || "No keywords found" %></p>

	<div class="entry">
		<div class="sep"></div>
	</div>
	<table id="dataset_content" class="display">
		<thead>
			<tr>
				<% eval(@dataset.model_classname).new.attribute_names[1..-1].each do |attrb| %>
				<th scope="col">
					<%= attrb.humanize %></th>
				<% end %></tr>
		</thead>
		<tbody>
			<%# eval(@dataset.model_classname).all[1..-1].each do |datarow| %>
			<% eval(@dataset.model_classname).all.each do |datarow| %>
			<tr>
				<% eval(@dataset.model_classname).new.attribute_names[1..-1].each do |attrb| %>
				<td><%= datarow.instance_eval(attrb) %></td>
				<% end %>
			</tr>
			<% end %>
		</tbody>
	</table>
	<div style="clear:both"></div>
	<div class="sep"></div>
	<div class="entry">
		<%= link_to "Delete", dataset_path(@dataset), :confirm => 'Are you sure?', :method => :delete,  :class => "button delete" %>
		<%= link_to 'Add New Dataset', new_dataset_path, :class => "button add" %>
		<%= link_to "Datasets List", datasets_path, :class => "button" %>
		<!-- <a class="button" href="">Categories</a> -->
	</div>
</div>

<script type="text/javascript">
$(document).ready(function(){
	$("#dataset_content").dataTable({
		"sPaginationType": "full_numbers",
		"bJQueryUI": true
	});
});
</script>